{{ partial "header.html" . }}

<div class="row">
  <div class="col-sm-6">
    <h3 class="section-header">About</h3>

    <p>
      Hi, my name is Noam Gagliardi-Rabinovich and I like writing programs.
    </p>
    <p>
      This is a picture of me receiving a sock as a holiday gift:
    </p>
    <img src="/img/me.jpeg" alt="me" width="150px">
  </div>
  <div class="col-sm-6">
    <h3 class="section-header">Articles</h3>
    <ul>
      {{ range (where .Site.Pages "Type" "post") }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3 class="section-header">Links</h3>
    <ul>
      {{ range .Site.Menus.about }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>
  <div class="col-sm-6">
    <h3 class="section-header">Contract / Consulting Work</h3>

    <small><code>
      Current availability: unavailable Dec-June.
    </code></small>

    <p>
      I focus on simple, stable code that is fully documented and tested.
      I provide "full stack" solutions,
      but my strength lies with the back end: I've worked on APIs, live
      notification systems, recommendations, and various data processing
      programs.
    </p>
    <p>
      <strong>Technologies:</strong> Elixir, OTP, Phoenix, Ruby, Rails, Javascript, Node.js,
      Postgres, MongoDB, React, Redis, HTML/CSS, Git, Linux.
    </p>
    <p>
      <strong>My Focus:</strong>

      <ul>
        <li> Choose the right tools for the job.
        <li> Simplicity and stability.
        <li> Efficiency and predictability in process (Kanban).
        <li> Break down projects into smallest deliverable chunks with
             realistic timelines.
      </ul>
    </p>
    <p>
      <strong>
        See my resume <a href="/resume.pdf" target="blank">here</a> and contact me
        <a href="https://noam87.wufoo.com/forms/contact-me/" target="blank">here</a>.
      </strong>
    </p>
  </div>
</div>
<div class="row">

{{ partial "footer.html" . }}
