{{ partial "header.html" . }}

<p>
  This is my personal wiki. Here I dump articles, cool resources I find,
  and random study notes of general interest on various topics.
</p>

<div class="row">
  <div class="col-sm-6">
    <h3 class="section-header">Computers</h3>
    Programming, computer science, tutorials, etc.
    <ul>
      {{ range .Site.Taxonomies.wikis.computers }}
        {{ if not (isset .Page.Params "hideindex") }}
          <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
  <div class="col-sm-6">
    <h3 class="section-header">Math And Data</h3>
    More theoretical / mathematical stuff (math, ml, computer science).
    <ul>
      {{ range .Site.Taxonomies.wikis.math }}
        {{ if not (isset .Page.Params "hideindex") }}
          <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3 class="section-header">Careerisms</h3>
    Stuff related to work, self-employment, startups, etc.
    <ul>
      {{ range .Site.Taxonomies.wikis.career }}
        {{ if not (isset .Page.Params "hideindex") }}
          <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
  <div class="col-sm-6">
    <h3 class="section-header">Science</h3>
    Notes / lectures etc. about natural sciences.
    <ul>
      {{ range .Site.Taxonomies.wikis.science }}
        {{ if not (isset .Page.Params "hideindex") }}
          <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3 class="section-header">Tags</h3>
    <ul class="all-tags">
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>


{{ partial "footer.html" . }}
